<div class="temperature-converter">
  <h2>Temperature Converter (Celsius to Fahrenheit)</h2>

  <button (click)="addTemp()">Add Task</button>

  <label for="celsiusInput">Enter Temperature in Celsius:</label>
  <input
    id="celsiusInput"
    [(ngModel)]="celsius"
    (ngModelChange)="updateFahrenheit()"
    type="number"
    placeholder="Enter Celsius"
  />

  <div *ngIf="celsius !== null">
    <p>Converted Temperature in Fahrenheit: {{ fahrenheit }}</p>
  </div>

  <div *ngIf="tempConvert.length > 0">
    <h3>List of Added Temperatures:</h3>
    <ul>
      <li *ngFor="let temp of tempConvert">{{ temp }}°C</li>
    </ul>
  </div>
</div>
